Exercises
Exercise #1
Filter out all of the empty strings from the list below

Output: ['Argentina', 'San Diego', 'Boston', 'New York']

In [113]:
#Note I tried the code below but it doesn't work because the len function counts spaces.
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

def notblank(place):
    return len(place) !=0

not_blank_places = list(map(notblank, places))
print(not_blank_places)

[True, True, True, True, False, True, False, True, True]

In [114]:
not_blank_places_filter = list(filter(notblank, places))
print(not_blank_places_filter)

[' ', 'Argentina', ' ', 'San Diego', '  ', 'Boston', 'New York']

In [115]:
def notspace(places):
    for place in places:
        return place.strip() != ''

notspaces = list(map(notspace, places))
print(notspaces)

notspaces_filter = list(filter(notspace, places))
print(notspaces_filter)

[False, True, False, True, None, False, None, True, True]
['Argentina', 'San Diego', 'Boston', 'New York']

Exercise #2
Write an anonymous function that sorts this list by the last name...
Hint: Use the ".sort()" method or the "sorted()" function and access the key"

Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

In [148]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

sorted(author, key=lambda name: name[-1], reverse=True)
#Use a lambda function to sort the list by the last name

#Why does this occur

['Victor aNisimov',
 'Joel Carter',
 'Gary A.J. Bernstein',
 'Andrew P. Garfield',
 'David hassELHOFF']

In [158]:
author.sort(key=lambda name: name.upper().split()[-1], reverse=False)
author

['Victor aNisimov',
 'Gary A.J. Bernstein',
 'Joel Carter',
 'Andrew P. Garfield',
 'David hassELHOFF']

In [152]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

sorted(author, key=lambda name: name.split()[-1], reverse=True)
#Use a lambda function to sort the list by the last name

#Why does this occur

['David hassELHOFF',
 'Victor aNisimov',
 'Andrew P. Garfield',
 'Joel Carter',
 'Gary A.J. Bernstein']

Exercise #3
Convert the list below from Celsius to Farhenheit, using the map function with a lambda...

Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

In [117]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

#def convert (places):
    #for place in places:
        #print(place[1])
        #print(type(place[1]))
        #place[1] = place[1]*(9/5) + 32
    #return places

#print(type(places[0]))

#list(map(convert, places))

placeF = []

def convert(places):
    for place in places:
        placeF.append((place[0],place[1]*(9/5) + 32)) 
    return placeF

convert(places)

#list(map(lambda place[1]: place[1]*(9/5)+32, places))

#list(map(lambda place: place[1]*(9/5)+32, places))

list(map(lambda place:(place[0],place[1]*(9/5)+32), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [122]:
Fib = [0, 1]
def Fibon(n):
    for i in range (1,n):
        Fib.append(Fib[i]+Fib[i-1])
    return Fib

Fibon(3)

[0, 1, 1, 2]

In [146]:
Fibo = [0,1]

def Fibonn(n):
    if n == 0:
       print("Iteration 0:0")
    elif n == 1:
       print("Iteration 0:0")
       print("Iteration 1:1")
    else:
      print("Iteration 0:0")
      for i in range (1,n):
        Fibo.append(Fibo[i]+Fibo[i-1])
        print(f"Iteration {i}:{Fibo[i]}")
      print(f"Iteration {n}:{Fibo[n]}")
    return Fibo  

Fibonn(10)

Iteration 0:0
Iteration 1:1
Iteration 2:1
Iteration 3:2
Iteration 4:3
Iteration 5:5
Iteration 6:8
Iteration 7:13
Iteration 8:21
Iteration 9:34
Iteration 10:55

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]